.container {
  padding: 20px;
  width: 80%;
  height: 200vw;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 50px auto;
}

.scrolltop {
  background-color: darkgray;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 1;
  transition: opacity 0.3s;
  transform: rotate(180deg);
  font-weight: bold;
  cursor: pointer;
}
.scrolltop:hover {
  background-color: gray;
}
.scrolltop[hidden] {
  display: none;
}
