cookie-banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

cookie-banner:focus {
  box-shadow: 0px 0px 10px cornflowerblue;
}
