.nav-pills {
  display: flex;
  justify-content: center;
}

.nav-pills > * {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background: transparent;
  color: var(--accent);
  font-size: 1rem;
}

.nav-pills > *[aria-selected='true'] {
  background: var(--accent);
  color: #fff;
}

.nav-pills > *:hover,
.nav-pills > *:focus {
  background: var(--accent)
    linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  color: #fff;
}

